# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3

# Entornos virtuales
env/
venv/
.entorno/
.venv/

# Django
db.sqlite3
media/
staticfiles/
*.log

# Variables sensibles
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
